version: '3'


volumes:
  pg_data_production:
  static_volume:
  media_volume:


services:
  db:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data_production:/var/lib/postgresql/data
  backend:
    image: zebrahr/kittygram_backend
    env_file: .env
    depends_on:
      - db
    volumes:
      - static_volume:/backend_static
      - media:/app/media/
  frontend:
    image: zebrahr/kittygram_frontend
    env_file: .env
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static_volume:/frontend_static
  gateway:
    image: zebrahr/kittygram_gateway
    env_file: .env
    depends_on: 
      - backend
      - frontend
    volumes:
      - static_volume:/static/
      - media:/app/media/
    ports:
      - 9000:80